body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

p.navbar-brand {
    margin: 0;
    color: white;
}

.playlist {
    margin-top: 25px;
}